/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2016, 9:35:00 PM
    Author     : Dave
*/

body
{
    background-color: bisque;
    border-top: 200px solid red;    
}

#anchor
{
    background-color: cadetblue;
}

#divMenuItem1
{
    visibility: hidden;
}
#divMenuItem2
{
    visibility: hidden;
}
#divMenuItem3
{
    visibility: hidden;
}