div
{
    margin: 5px;
}

#divForButton
{
    text-align: center;
    padding-top: 10px;
}

#Credentials
{
  background-color: antiquewhite;
  border: 2px black solid;
  width: 350px;
  height: auto;
  padding: 20px;
}